#### 1. 모듈 가져오기

In [ ]:
! pip install googletrans==4.0.0-rc1

In [5]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import os
import sys
import urllib.request
from googletrans import Translator
from tqdm import tqdm

#### 2. DB 읽어오기

In [50]:
# db_connection_str = 'mysql+pymysql://[USER]:[PW]@localhost/[DATABASE]' # 로컬에 저장
db_connection_str = 'mysql+pymysql://[USER]:[PW]@k7b305.p.ssafy.io/[DATABASE]' # 서버에 저장

db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [7]:
books_df = pd.read_sql_table('book', conn)

#### 3.1. 파파고 번역

In [15]:
client_id = "CLIENT_ID"
client_secret = "CLIENT_SECRET"

def TranslateByPapago(target_text) :
    if len(target_text) < 5 :
        return ""
    encText = urllib.parse.quote(target_text)
    data = "source=ko&target=en&text=" + encText
    url = "https://openapi.naver.com/v1/papago/n2mt"
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request, data=data.encode("utf-8"))
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        res = eval(response_body.decode('utf-8').replace("null", "None"))
        return res["message"]["result"]["translatedText"]
    else:
        print("Error Code:" + rescode)
        return ""

#### 3.2 구글 번역

In [10]:
# 구글 번역 API
def TranslateByGoogle(target_text) :
    if len(target_text) < 5 :
        return ""
    translator = Translator()
    return translator.translate(target_text).text

#### 4. 번역 삽입

In [18]:
page_separator = "&page&" # 페이지 구분자

# books_df에 영어 번역 삽입
def AddEcontent(index) :
    result = ""
    content = books_df.loc[index, "k_content"].split(page_separator)
    for text in content :
        result += TranslateByPapago(text) + page_separator # 파파고 version
#         result += TranslateByGoogle(text) + page_separator # 구글 번역 version
    books_df.loc[index, "e_content"] = result

In [ ]:
# 전체 도서 번역
for index in tqdm(books_df.index) :
    if index < 20 : # 이미 넣은 번역은 pass 
        continue
    AddEcontent(index)

In [19]:
# 하나의 도서 번역
idx = 2
AddEcontent(idx)
books_df.loc[idx, "e_content"]

'The turtle was crawling through the forest.\nThe rabbit passing by saw the figure and started hopping and teasing the turtle.&page&"Huh? Isn\'t it a slow turtle?" They say turtles are slowers They said I\'m slow."\nThe angry turtle suggested a running race to the rabbit.&page&"Rabbit, do you want to run a race with me?"\n"Okay, but you won\'t be able to beat me who is fast."”\n"You don\'t know that until you try it! Promise me you won\'t tease me again if I win!"&page&When I heard that rabbits and turtles were running a race, my friends in the forest gathered.\n"Win! Win!"&page&Press the Start button to start the race!&page&The rabbit and the turtle started for the tree at the same time.\nThe rabbit hopped and disappeared in an instant\nThe turtle followed slowly.&page&"Where is the turtle?" We still have a long way to go! I\'m going to take a nap!"&page&Help the turtle to beat the rabbit!&page&But the turtle climbed the mountain without resting.\nThe turtle passed the sleeping rabbit and finally arrived at the top of the mountain.&page&"Yay! I beat the rabbit!"!”&page&The rabbit woke up to the noise and looked up at the hill.\n "No, the turtle won?"&page&The rabbit rushed to the mountain in a hurry.&page&"It\'s not fair. It doesn\'t count!"\n "Rabbit, if you\'re so upset, shall we race again?" How about a swimming match this time?"&page&The rabbit thought of himself swimming.\n "What? Never mind. I lost. I won\'t tease you from now on as I promised."\n "Yes, let\'s be good friends from now on!"&page&After that, rabbits and turtles became good friends!&page&'

In [48]:
books_df

,b_id,a_flag,author,cnt,e_content,k_content,title
0,1,1,그림 형제,0,"Once upon a time, when the power to fulfill yo...","옛날 옛적에 소망을 이루어 주는 힘이 여전히 통했던 때에, 딸들이 모두 예쁜 왕이 ...",개구리 왕자
1,2,0,그림 형제,0,"Once upon a time, there lived a white and pret...",옛날 어느왕국에 눈처럼 하얗고 예쁜 백설공주가 살고 있었어요.\n&page&\n어느...,백설 공주
2,3,1,이솝 우화,66,The turtle was crawling through the forest.\nT...,거북이가 숲속을 엉금엉금 기어가고 있었어요.\n지나가던 토끼가 그 모습을 보고 깡충...,토끼와 거북이
3,4,0,이솝 우화,0,,,양치기 소년
4,5,0,그림 형제,0,"In the old days, there was a mother goat that ...",옛날에 일곱 명의 아기 염소들을 키우는 엄마 염소 한 명이 살고 있었어요.\n모든 ...,늑대와 일곱 마리의 어린 염소들
...,...,...,...,...,...,...,...
207,208,0,그림 형제,0,One older mother in a big city was thinking ab...,어느 커다란 도시에 나이 드신 어머님 한 분이 자신의 방에 저녁 내내 앉아 그동안 ...,나이 드신 어머님
208,209,0,그림 형제,0,One day a poor rural boy was told by a pastor ...,가난한 시골 소년이 어느 날 교회에서 목사님이 “하늘나라 왕국에 들어가길 원하는 자...,하늘나라의 결혼 잔치
209,210,0,그림 형제,0,"One afternoon, the baby Jesus was sleeping in ...",어느 날 오후에 아기 예수가 아기침대에 누워 잠을 자고 있었답니다.\n그때 그의 어...,개암나무 가지
210,211,0,그림 형제,0,There was a woodcutter who lived hard with his...,거대한 숲에서 아내와 함께 힘들게 살고 있는 나무꾼이 하나 있었습니다.\n그들에게는...,성모 마리아의 아이
211,212,0,그림 형제,0,There was a father with two sons.\nHis brother...,"두 아들을 둔 아버지가 계셨어요.\n형은 스마트하고 현명해 모든 걸 해냈지만, 어찌...",무서움을 배우러 나선 젊은이 이야기

#### DB에 저장

In [51]:
books_df.to_sql(name='book', con=db_connection, if_exists='append',index=False)

212